<% layout('layouts/boilerplate')%>
    <div class="container-fluid ">
        <div class="row thumbnail justify-content-center">
            <div class="card" style="width:25rem;">
                <img src="<%=book.image%>" class="card-img-top" alt="..." data-holder-rendered="true">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            Title : <%=book.title%>
                        </h5>

                        <p class="card-text">
                            <%=book.description%>
                        </p>
                        <p class="card-text">
                            Author : <%=book.author%>
                        </p>
                        <p class="card-text">
                            Category : <%=book.category%>
                        </p>
                        <p class="card-text">
                            Stock : <%=book.stock%>
                        </p>
                    </div>
                    <% if(currentUser && book.stock> 0) { var match = false%>
                        <% currentUser.borrowedBooks.forEach(book_info=> { %>
                            <% if(book_info._id.equals(book._id)) { %>
                                <a href="#" class="btn btn-xs btn-warning disabled" role="button"
                                    aria-disabled="true">Borrowed!</a>
                                <a href="/user/dashboard" class="btn btn-xs btn-success" role="button">Return/Renew</a>
                                <% match=true; } %>
                                    <% }) %>

                                        <% if(!match) {%>
                                            <form action="/books/<%=book._id%>/borrow/<%=currentUser._id%>"
                                                method="POST" class="d-inline">
                                                <input class="btn btn-xs btn-success" type="submit" value="Borrow">
                                            </form>
                                            <% } %>
                                                <% } %>

                </div>
            </div>




        </div>