<% layout('layouts/boilerplate')%>

  <section id="search_bar" class="my-3 py-4 bg-light">
    <div class="container">
      <form action="/admin/books" method="POST">
        <div class="row">
          <div class="col-md-5 p-1">
            <input name="searchName" type="text" class="form-control" placeholder="Search Books">
          </div>

          <div class="col-md-2 p-1">
            <input type="submit" class="btn btn-outline-primary btn-block" value="Search">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="bookInventory" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Catergory</th>
                  <th>Stock</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>

                <% books.forEach(book=> { %>

                  <tr>
                    <td>
                      <%= book.title %>
                    </td>
                    <td>
                      <%= book.author %>
                    </td>
                    <td>
                      <%= book.ISBN %>
                    </td>
                    <td>
                      <%= book.category %>
                    </td>
                    <td>
                      <%= book.stock %>
                    </td>
                    <td>
                      <span>
                        <a href="/admin/book/<%=book._id%>/update" class="btn btn-info btn-sm">Update</a>
                        <a href="/admin/book/<%=book._id%>/delete" class="btn btn-sm btn-danger">Delete</a>
                      </span>
                    </td>
                  </tr>
                  <% }); %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>